<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>

  <body>
    <form action="POST" action="pages/new">
      <h1>Send a message</h1>

      <input type="text" alt="author name" />
      <input type="text" alt="message />

      <button type="submit">Send message</button>
    </form>
  </body>
</html>
