<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New | Home</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <h1 class="crimson-text-semibold">Testing Index Page</h1>

    <ul class="crimson-text-regular">
      <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
      <li>
        <h3><%= message.user %></h3>
        <p><%= message.text %></p>
        <span><%= message.added %></span>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
